@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/*PRELOADING------------ */

body{ 
    min-height: 100vh;
    overflow-x: hidden;
}
.bg{
    background: #111111;
    
}
nav{
    z-index: 9999999!important;
}
#myModal,#myModal2,#myModal3,#myModal4,#myModal5,#form{
    z-index: 999999999!important;
    background: rgba(0, 0, 0, 0.5);
    
}


#myModal .modal-title{
    font-size: 20px;
}

#myModal2 .modal-title{
    font-size: 15px;
}

nav{
    background: #292929!important;
}

.collapse a{
    color: white!important;
}
.navbar-toggler,.navbar-toggler:active{
    color: white;
    border: none!important;
}
.fa-angle-double-down{
  color: white!important;
  font-size: 25px;
  border: none;
}
.cart {
     margin: 10px 0 0 0 ;
}
.btn-dark{
    background: #111111!important;
    border: none!important;
}
sub{
    position: relative;
    top: 6px;
}    
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 0vh auto;
}
.container .card2{
    margin: 5vh auto;
}
@media(max-width:1198px){
    .container .card{
        transform: scale(0.9);
       
    }
    .container .card2{
        margin: 0 auto;
    }
    
}
@media(max-width:1000px){
    
    .container .card{
        margin:0 auto;
    }
    
}
@media(max-width:768px){
    .container .card{
        transform: scale(0.9);
        margin: auto;
    }
    
}
.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #585858;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover::before{
    clip-path: circle(300px at 90% -20%);
}
.container .card:after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgBx,.card .imgBx2,.card .imgBx3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.card:hover .imgBx,.card:hover .imgBx2,.card:hover .imgBx3{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width:240px;
}
.container .card .imgBx2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-80deg);
    width:210px;
    height: 230px;
}
.container .card .imgBx3 img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width:270px;
}

.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx{
    height: 210px;
}

.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: #fff;

}
.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size{
     opacity: 1;
     visibility: visible;
     transition-delay: 0.5s;
}
.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3
{
    column-rule: #fff;
    font-weight: 400;
    font-size: 17px;
    color:rgb(143, 143, 143);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin:0 5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover{
    background: rgb(32, 32, 32);
    color: #fff;
}
.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .box1 span:nth-child(2){
    background: #9bdc28;
}

.container .card .contentBx .box1 span:nth-child(3){
    background: #03a9f4;
}

.container .card .contentBx .box1 span:nth-child(4){
    background: #e91e63;
}


.container .card .contentBx .box2 span:nth-child(2){
    background: linear-gradient(rgb(255, 30, 0) 10px,rgb(2, 29, 123) 10px);
}

.container .card .contentBx .box2 span:nth-child(3){
    background: linear-gradient(rgb(238, 255, 0) 10px,rgb(2, 29, 123) 10px);
}

.container .card .contentBx .box2 span:nth-child(4){
    background: linear-gradient(rgb(0, 217, 255) 10px,rgb(2, 29, 123) 10px);
}


.container .card .contentBx .box3 span:nth-child(2){
    background: #686868;
}

.container .card .contentBx .box3 span:nth-child(3){
    background: #008fe2;
}

.container .card .contentBx .box3 span:nth-child(4){
    background: #141414;
}
  

.container .card .contentBx .box4 span:nth-child(2){
    background: #8f00e2;
}

.container .card .contentBx .box4 span:nth-child(3){
    background: #eb4040;
}

.container .card .contentBx .box4 span:nth-child(4){
    background: #d3caca;
}


.container .card .contentBx .box5 span:nth-child(2){
    background: linear-gradient(rgb(0, 0, 0) 10px,rgb(204, 0, 0) 10px);
}

.container .card .contentBx .box5 span:nth-child(3){
    background: linear-gradient(rgb(0, 217, 255) 10px,rgb(0, 0, 0) 10px);
}

.container .card .contentBx .box5 span:nth-child(4){
    background: linear-gradient(rgb(255, 255, 255) 10px,rgb(235, 192, 0) 10px);

}


.container .card .contentBx .box6 span:nth-child(2){
    background: linear-gradient(rgb(255, 255, 255) 10px,rgb(204, 0, 0) 10px);
    background: rgb(255, 20, 20);
}

.container .card .contentBx .box6 span:nth-child(3){
    background: linear-gradient(rgb(255, 255, 255) 10px,rgb(255, 208, 0)  10px);
    background: rgb(255, 208, 0);
}

.container .card .contentBx .box6 span:nth-child(4){
    background: linear-gradient(rgb(255, 255, 255) 10px, rgb(16, 245, 66) 10px);
    background: rgb(16, 245, 66);

}


.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}





footer{
    font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
    display: flex;
    flex-flow: column nowrap;  
    justify-content: space-between;
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor{
    color: #8DB9ED;
    transition: all .5s ease-in-out;
}
.generic-anchor:visited,.generic-anchor:hover{
    color: #8DB9ED;
}
.generic-anchor i{
    font-size: 35px;
}
.generic-anchor i:hover{
    transform: translateY(-13px) scale(1.3);
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: rgb(55,55,55);
  margin-top: 30px;
  width: 100%;
  bottom: 0!important;
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-top img{
    width: 450px;
}
@media(max-width:650px){
    .footer-list-top img{
        transform: scale(0.5);
    }
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}